[Unit]
Description=Run system and docker update at container startup
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/system-and-docker-update.sh

[Install]
WantedBy=multi-user.target
