[Unit]
Description=LXC-Auto-Update on boot
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/lxc-auto-update.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
